In [24]:
import pandas as pd
import numpy as np
df=pd.read_csv("D:/05_DATA CLEANING AND PREPROCESSING/bonus dataset.csv")

In [25]:
print(df)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [30]:
df.loc[(df["Bonus %"])>0, "getbonus"]="no bonus"
df.loc[(df["Bonus %"])<35, "getbonus"]="yes bonus"
print(df.head(10))

  First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0    Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1     Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2      Maria  Female   4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4      Larry    Male   1/24/1998         4:47 PM  101004    1.389
5     Dennis    Male   4/18/1987         1:35 AM  115163   10.125
6       Ruby  Female   8/17/1987         4:20 PM   65476   10.012
7        NaN  Female   7/20/2015        10:43 AM   45906   11.598
8     Angela  Female  11/22/2005         6:29 AM   95570   18.523
9    Frances  Female    8/8/2002         6:51 AM  139852    7.524

  Senior Management                  Team   getbonus
0              True             Marketing  yes bonus
1              True                   NaN  yes bonus
2             False               Finance  yes bonus
3              True               Finance  yes bonus
4              True       Client Services  yes bonus
5             False                 Legal  yes bonus
6              True               Product  yes bonus
7               NaN               Finance  yes bonus
8              True           Engineering  yes bonus
9              True  Business Development  yes bonus