In [36]:
import pandas as pd

In [37]:
import sys
print(sys.version)

3.13.0 (tags/v3.13.0:60403a5, Oct  7 2024, 09:38:07) [MSC v.1941 64 bit (AMD64)]

In [38]:

df = pd.read_csv(r"D:\09_DOWNLOADS (BRAVE)\bmw_with_missing_data.csv")
print(df.head())

      model  year  price transmission mileage fuelType  tax   mpg engineSize
0  5 Series  2014  11200    Automatic   67068   Diesel  NaN  57.6        2.0
1  6 Series   NaN  27000    Automatic   14827   Petrol  145  42.8        2.0
2  5 Series  2016  16000          NaN   62794   Diesel  160  51.4        3.0
3  1 Series  2017  12750    Automatic   26676   Diesel  NaN  72.4        1.5
4  7 Series  2014    NaN    Automatic   39554   Diesel  160  50.4        3.0

In [39]:
print("Missing values per column:\n", df.isnull().sum())

Missing values per column:
 model            9
year            20
price           17
transmission    14
mileage         16
fuelType        14
tax              7
mpg             14
engineSize       5
dtype: int64

In [40]:
# df = df.dropna(subset=['price'])

In [41]:
df.head()

      model  year  price transmission mileage fuelType  tax   mpg engineSize
0  5 Series  2014  11200    Automatic   67068   Diesel  NaN  57.6        2.0
1  6 Series   NaN  27000    Automatic   14827   Petrol  145  42.8        2.0
2  5 Series  2016  16000          NaN   62794   Diesel  160  51.4        3.0
3  1 Series  2017  12750    Automatic   26676   Diesel  NaN  72.4        1.5
4  7 Series  2014    NaN    Automatic   39554   Diesel  160  50.4        3.0

In [42]:
df = df.drop_duplicates()

In [43]:

# Convert price column to numeric (forcing non-numeric to NaN)
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [44]:
average_price = df['price'].mean()
print(f"Average price after cleaning: {average_price:.2f}")

Average price after cleaning: 15620.83

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 106 entries, 0 to 106
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         97 non-null     object
 1   year          86 non-null     object
 2   price         88 non-null     float64
 3   transmission  92 non-null     object
 4   mileage       90 non-null     object
 5   fuelType      92 non-null     object
 6   tax           99 non-null     object
 7   mpg           92 non-null     object
 8   engineSize    101 non-null    object
dtypes: float64(1), object(8)
memory usage: 8.3+ KB

In [46]:
print("\n--- Descriptive Statistics ---")
print(df.describe())

--- Descriptive Statistics ---
              price
count     88.000000
mean   15620.829545
std     5403.279158
min     7948.000000
25%    12737.500000
50%    14250.000000
75%    16725.000000
max    45000.000000

In [47]:
print(df.describe(include='all'))

           model  year         price transmission mileage fuelType  tax   mpg  \
count         97    86     88.000000           92      90       92   99    92
unique        20    10           NaN            3      90        6   14    32
top     1 Series  2017           NaN    Automatic   67068   Diesel  145  62.8
freq          26    29           NaN           51       1       65   21     8
mean         NaN   NaN  15620.829545          NaN     NaN      NaN  NaN   NaN
std          NaN   NaN   5403.279158          NaN     NaN      NaN  NaN   NaN
min          NaN   NaN   7948.000000          NaN     NaN      NaN  NaN   NaN
25%          NaN   NaN  12737.500000          NaN     NaN      NaN  NaN   NaN
50%          NaN   NaN  14250.000000          NaN     NaN      NaN  NaN   NaN
75%          NaN   NaN  16725.000000          NaN     NaN      NaN  NaN   NaN
max          NaN   NaN  45000.000000          NaN     NaN      NaN  NaN   NaN

       engineSize
count         101
unique          7
top           2.0
freq           62
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [48]:
print("\nAverage price:", df['price'].mean())
print("Median price:", df['price'].median())
print("Mode of year:", df['year'].mode()[0])
print("Price standard deviation:", df['price'].std())
print("Minimum price:", df['price'].min())
print("Maximum price:", df['price'].max())

Average price: 15620.829545454546
Median price: 14250.0
Mode of year: 2017
Price standard deviation: 5403.279158091544
Minimum price: 7948.0
Maximum price: 45000.0

In [49]:
print("\nMissing values per column:")
print(df.isnull().sum())

print("\nTotal duplicates:", df.duplicated().sum())

Missing values per column:
model            9
year            20
price           18
transmission    14
mileage         16
fuelType        14
tax              7
mpg             14
engineSize       5
dtype: int64

Total duplicates: 0

In [50]:
print("\n--- Correlation Matrix ---")
print(df.corr(numeric_only=True))

--- Correlation Matrix ---
       price
price    1.0

In [51]:
df = df.dropna()

In [52]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
9,5 Series,2016,14250.0,Automatic,36099,Diesel,20,68.9,2.0
99,BMW Z4,2019,35000.0,Automatic,15000,Petrol,165,45.2,2.0
103,DUPLICATE,2016,14000.0,Automatic,50000,Diesel,125,60.1,2.0

In [55]:
df.shape

(3, 9)