In [7]:
import pandas as pd

In [8]:
import sys
print(sys.version)

3.13.0 (tags/v3.13.0:60403a5, Oct  7 2024, 09:38:07) [MSC v.1941 64 bit (AMD64)]

In [9]:

df = pd.read_csv(r"D:\09_DOWNLOADS (BRAVE)\bmw_with_missing_data.csv")
print(df.head())

      model  year  price transmission mileage fuelType  tax   mpg engineSize
0  5 Series  2014  11200    Automatic   67068   Diesel  NaN  57.6        2.0
1  6 Series   NaN  27000    Automatic   14827   Petrol  145  42.8        2.0
2  5 Series  2016  16000          NaN   62794   Diesel  160  51.4        3.0
3  1 Series  2017  12750    Automatic   26676   Diesel  NaN  72.4        1.5
4  7 Series  2014    NaN    Automatic   39554   Diesel  160  50.4        3.0

In [ ]:
print("Missing values per column:\n", df.isnull().sum())

In [ ]:
# df = df.dropna(subset=['price'])

In [2]:
df.head()

NameError: name 'df' is not defined

In [3]:
df = df.drop_duplicates()

NameError: name 'df' is not defined

In [4]:

# Convert price column to numeric (forcing non-numeric to NaN)
df['price'] = pd.to_numeric(df['price'], errors='coerce')

NameError: name 'pd' is not defined

In [5]:
average_price = df['price'].mean()
print(f"Average price after cleaning: {average_price:.2f}")

NameError: name 'df' is not defined

In [6]:
df.info()

NameError: name 'df' is not defined

In [46]:
print("\n--- Descriptive Statistics ---")
print(df.describe())

--- Descriptive Statistics ---
              price
count     88.000000
mean   15620.829545
std     5403.279158
min     7948.000000
25%    12737.500000
50%    14250.000000
75%    16725.000000
max    45000.000000

In [47]:
print(df.describe(include='all'))

           model  year         price transmission mileage fuelType  tax   mpg  \
count         97    86     88.000000           92      90       92   99    92
unique        20    10           NaN            3      90        6   14    32
top     1 Series  2017           NaN    Automatic   67068   Diesel  145  62.8
freq          26    29           NaN           51       1       65   21     8
mean         NaN   NaN  15620.829545          NaN     NaN      NaN  NaN   NaN
std          NaN   NaN   5403.279158          NaN     NaN      NaN  NaN   NaN
min          NaN   NaN   7948.000000          NaN     NaN      NaN  NaN   NaN
25%          NaN   NaN  12737.500000          NaN     NaN      NaN  NaN   NaN
50%          NaN   NaN  14250.000000          NaN     NaN      NaN  NaN   NaN
75%          NaN   NaN  16725.000000          NaN     NaN      NaN  NaN   NaN
max          NaN   NaN  45000.000000          NaN     NaN      NaN  NaN   NaN

       engineSize
count         101
unique          7
top           2.0
freq           62
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [48]:
print("\nAverage price:", df['price'].mean())
print("Median price:", df['price'].median())
print("Mode of year:", df['year'].mode()[0])
print("Price standard deviation:", df['price'].std())
print("Minimum price:", df['price'].min())
print("Maximum price:", df['price'].max())

Average price: 15620.829545454546
Median price: 14250.0
Mode of year: 2017
Price standard deviation: 5403.279158091544
Minimum price: 7948.0
Maximum price: 45000.0

In [49]:
print("\nMissing values per column:")
print(df.isnull().sum())

print("\nTotal duplicates:", df.duplicated().sum())

Missing values per column:
model            9
year            20
price           18
transmission    14
mileage         16
fuelType        14
tax              7
mpg             14
engineSize       5
dtype: int64

Total duplicates: 0

In [50]:
print("\n--- Correlation Matrix ---")
print(df.corr(numeric_only=True))

--- Correlation Matrix ---
       price
price    1.0

In [51]:
df = df.dropna()

In [52]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
9,5 Series,2016,14250.0,Automatic,36099,Diesel,20,68.9,2.0
99,BMW Z4,2019,35000.0,Automatic,15000,Petrol,165,45.2,2.0
103,DUPLICATE,2016,14000.0,Automatic,50000,Diesel,125,60.1,2.0

In [55]:
df.shape

(3, 9)

In [10]:
import pandas as pd


data = {
    'Title': ['Inception', 'Interstellar', 'The Dark Knight', 'Avatar', 'Parasite'],
    'Year': [2010, 2014, 2008, 2009, 2019],
    'Genre': ['Sci-Fi', 'Sci-Fi', 'Action', 'Adventure', None], 
    'Rating': [8.8, 8.6, 9.0, 7.8, 8.6],
    'Duration': [148, 169, 152, 162, 132]
}

movies_df = pd.DataFrame(data)
print(movies_df)

             Title  Year      Genre  Rating  Duration
0        Inception  2010     Sci-Fi     8.8       148
1     Interstellar  2014     Sci-Fi     8.6       169
2  The Dark Knight  2008     Action     9.0       152
3           Avatar  2009  Adventure     7.8       162
4         Parasite  2019       None     8.6       132

In [42]:
### Problem 1.2: Basic Data Exploration
# *Task*: Using your movie dataset:
# 1. Display the first 3 rows
# 2. Show column names and data types
# 3. Get basic statistics for numeric columns
# 4. Find how many missing values are in each column
print("1. Display the first 3 rows","\n")
print(movies_df.head(3))
print("\n")
print("2. Show column names and data types")
print(movies_df.dtypes)
print("\n")
print("3. Get basic statistics for numeric columns")
print(movies_df.describe())
print("\n")
print("Find how many missing values are in each column")
print(movies_df.isnull().sum())

1. Display the first 3 rows

             Title  Year   Genre  Rating  Duration
0        Inception  2010  Sci-Fi     8.8       148
1     Interstellar  2014  Sci-Fi     8.6       169
2  The Dark Knight  2008  Action     9.0       152


2. Show column names and data types
Title        object
Year          int64
Genre        object
Rating      float64
Duration      int64
dtype: object


3. Get basic statistics for numeric columns
              Year   Rating    Duration
count     5.000000  5.00000    5.000000
mean   2012.000000  8.56000  152.600000
std       4.527693  0.45607   14.170392
min    2008.000000  7.80000  132.000000
25%    2009.000000  8.60000  148.000000
50%    2010.000000  8.60000  152.000000
75%    2014.000000  8.80000  162.000000
max    2019.000000  9.00000  169.000000


Find how many missing values are in each column
Title       0
Year        0
Genre       1
Rating      0
Duration    0
dtype: int64

In [50]:
# ### Problem 2.2: Data Type Conversion
# *Task*: Fix data types in this problematic dataset.
# 1. Convert Price to float
# 2. Convert Quantity to integer
# 3. Convert Is_Weekend to boolean
# 4. Convert Date to datetime
# sample:
sales_data = pd.DataFrame({
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],
    'Price': ['29.99', '15.50', '89.00'],  # Should be numeric
    'Quantity': ['5', '3', '7'],           # Should be numeric
    'Is_Weekend': ['True', 'False', 'False']  # Should be boolean
})

print(" 1. Convert Price to float","\n")
sales_data.head()


print("before conversion")
print(sales_data.dtypes,"\n")

sales_data['Price'] = sales_data['Price'].astype(float)
sales_data['Quantity'] = sales_data['Quantity'].astype(int)
sales_data['Is_Weekend'] = sales_data['Is_Weekend'].astype(bool)
sales_data['Date'] = pd.to_datetime(sales_data['Date'])

print("after conversion")
print(sales_data.dtypes,"\n")

print(sales_data)

 1. Convert Price to float

before conversion
Date          object
Price         object
Quantity      object
Is_Weekend    object
dtype: object

after conversion
Date          datetime64[ns]
Price                float64
Quantity               int64
Is_Weekend              bool
dtype: object

        Date  Price  Quantity  Is_Weekend
0 2024-01-01  29.99         5        True
1 2024-01-02  15.50         3        True
2 2024-01-03  89.00         7        True

In [87]:
# ### Problem 3.1: Complex Filtering
# *Task*: Using the BMW dataset, find cars that meet specific criteria.

# *Your Tasks:*
# 1. Find all cars from 2016 or later
# 2. Find cars with price between 15000 and 25000
# 3. Find diesel cars with mileage less than 40000
# 4. Find the cheapest car for each fuel type



df = pd.read_csv(r"D:\09_DOWNLOADS (BRAVE)\bmw_with_missing_data.csv")

df['year'] = pd.to_numeric(df['year'], errors='coerce')
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['mileage'] = pd.to_numeric(df['mileage'], errors='coerce')


df = df.dropna()


cars_2016_and_later = df[df['year'] >= 2016]
print("Cars from 2016 or later:\n", cars_2016_and_later, "\n")

cars_price_range = df[(df['price'] >= 15000) & (df['price'] <= 25000)]
print("Cars with Price between 15000 and 25000:\n", cars_price_range, "\n")


diesel_low_mileage = df[(df['fuelType'] == 'Diesel') & (df['mileage'] < 40000)]
print("Diesel cars with mileage < 40000:\n", diesel_low_mileage, "\n")

Cars from 2016 or later:
          model    year    price transmission  mileage fuelType  tax   mpg  \
9     5 Series  2016.0  14250.0    Automatic  36099.0   Diesel   20  68.9
99      BMW Z4  2019.0  35000.0    Automatic  15000.0   Petrol  165  45.2
103  DUPLICATE  2016.0  14000.0    Automatic  50000.0   Diesel  125  60.1
104  DUPLICATE  2016.0  14000.0    Automatic  50000.0   Diesel  125  60.1

    engineSize
9          2.0
99         2.0
103        2.0
104        2.0

Cars with Price between 15000 and 25000:
 Empty DataFrame
Columns: [model, year, price, transmission, mileage, fuelType, tax, mpg, engineSize]
Index: []

Diesel cars with mileage < 40000:
       model    year    price transmission  mileage fuelType tax   mpg  \
9  5 Series  2016.0  14250.0    Automatic  36099.0   Diesel  20  68.9

  engineSize
9        2.0

In [91]:
# ### Problem 3.2: Grouping and Aggregation
# *Task*: Analyze the BMW dataset by groups.

# *Your Tasks:*
# 1. Group by fuel type and find average price
# 2. Group by year and count how many cars
# 3. Group by transmission type and find max, min, and average mileage
# 4. Find the most expensive car in each model category


print("1️ Group by fuel type and find average price")
avg_price_fuel = df.groupby('fuelType')['price'].mean()
print(avg_price_fuel, "\n")


print("2️ Group by year and count how many cars")
cars_per_year = df.groupby(['year','price'])['model'].count()
print(cars_per_year, "\n")


print("3️ Group by transmission type and find max, min, and average mileage\n")
mileage_stats = df.groupby('transmission')['mileage'].agg(['max', 'min', 'mean'])
print(mileage_stats, "\n")


print("4️ Find the most expensive car in each model category\n")
most_expensive_per_model = df.loc[df.groupby('model')['price'].idxmax(), ['model', 'price', 'fuelType', 'year']]
print(most_expensive_per_model)

1️ Group by fuel type and find average price
fuelType
Diesel    14083.333333
Petrol    35000.000000
Name: price, dtype: float64

2️ Group by year and count how many cars
year    price
2016.0  14000.0    2
        14250.0    1
2019.0  35000.0    1
Name: model, dtype: int64

3️ Group by transmission type and find max, min, and average mileage

                  max      min      mean
transmission
Automatic     50000.0  15000.0  37774.75

4️ Find the most expensive car in each model category

         model    price fuelType    year
9     5 Series  14250.0   Diesel  2016.0
99      BMW Z4  35000.0   Petrol  2019.0
103  DUPLICATE  14000.0   Diesel  2016.0