In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"books_dataset.csv")
df_m= pd.read_csv(r"members_dataset.csv")
df_t= pd.read_csv(r"transactions_dataset.csv")

In [4]:
df.head(5)

,Book_ID,Title,Author,Genre,Publication_Year
0,B001,The Quantum Enigma,Alice Johnson,Science,2018
1,B002,Shadows of Eternity,Mark Daniels,Fiction,2015
2,B003,Data Structures Unfolded,R. Gupta,Education,2021
3,B004,The Lost Civilization,Hannah Lee,History,2012
4,B005,AI and the Future,Carlos Mendez,Technology,2020

# A_Understanding_Your_data

## i) Books dataset

In [5]:
print("shape of the data ",df.shape,"\n\n","*"*100,"\n")

print(df.head(),"\n\n","*"*100,"\n")

print("Information ", df.info(),"\n\n","*"*100,"\n")

print("checking missing values ", "\n\n",df.isnull().sum(),"\n\n","*"*100,"\n")

print("how does data looks like ","\n\n", df.describe(),"\n\n","*"*100,"\n")

print("are there any duplicate values ", "\n\n",df.duplicated().sum(),"\n\n","*"*100,"\n")

print("how is the correlation betwn cols ", '\n\n',df.corr(numeric_only=True),"\n\n","*"*100,"\n")

print("DATA Types",'\n\n',df.dtypes,"\n\n","*"*100,"\n")

shape of the data  (500, 5)

 ****************************************************************************************************

  Book_ID                     Title         Author       Genre  \
0    B001        The Quantum Enigma  Alice Johnson     Science
1    B002       Shadows of Eternity   Mark Daniels     Fiction
2    B003  Data Structures Unfolded       R. Gupta   Education
3    B004     The Lost Civilization     Hannah Lee     History
4    B005         AI and the Future  Carlos Mendez  Technology

   Publication_Year
0              2018
1              2015
2              2021
3              2012
4              2020

 ****************************************************************************************************

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Book_ID           500 non-null    object
 1   Title             500 non-null    object
 2   Author            500 non-null    object
 3   Genre             500 non-null    object
 4   Publication_Year  500 non-null    int64
dtypes: int64(1), object(4)
memory usage: 19.7+ KB
Information  None

 ****************************************************************************************************

checking missing values

 Book_ID             0
Title               0
Author              0
Genre               0
Publication_Year    0
dtype: int64

 ****************************************************************************************************

how does data looks like

        Publication_Year
count        500.000000
mean        2021.264000
std            1.827836
min         2012.000000
25%         2020.000000
50%         2022.000000
75%         2023.000000
max         2024.000000

 ****************************************************************************************************

are there any duplicate values

 0

 ****************************************************************************************************

how is the correlation betwn cols

                   Publication_Year
Publication_Year               1.0

 ****************************************************************************************************

DATA Types

 Book_ID             object
Title               object
Author              object
Genre               object
Publication_Year     int64
dtype: object

 ****************************************************************************************************

## ii) members datset

In [6]:
print("shape of the data ",df.shape,"\n\n","*"*100,"\n")

print(df_m.head(),"\n\n","*"*100,"\n")

print("Information ", df_m.info(),"\n\n","*"*100,"\n")

print("checking missing values ", "\n\n",df_m.isnull().sum(),"\n\n","*"*100,"\n")

print("how does data looks like ","\n\n",df_m.describe(),"\n\n","*"*100,"\n")

print("are there any duplicate values ", "\n\n",df_m.duplicated().sum(),"\n\n","*"*100,"\n")

print("how is the correlation betwn cols ", '\n\n',df_m.corr(numeric_only=True),"\n\n","*"*100,"\n")

print("DATA Types",'\n\n',df_m.dtypes,"\n\n","*"*100,"\n")

shape of the data  (500, 5)

 ****************************************************************************************************

  Member_ID         Name  Age Membership_Type
0      M001  Neha Sharma   22         Student
1      M002   Ravi Patel   34         Regular
2      M003   Aisha Khan   28         Premium
3      M004     John Doe   45         Regular
4      M005   Sara Mehta   19         Student

 ****************************************************************************************************

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_ID        500 non-null    object
 1   Name             500 non-null    object
 2   Age              500 non-null    int64
 3   Membership_Type  500 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB
Information  None

 ****************************************************************************************************

checking missing values

 Member_ID          0
Name               0
Age                0
Membership_Type    0
dtype: int64

 ****************************************************************************************************

how does data looks like

               Age
count  500.000000
mean    39.174000
std     17.408902
min     16.000000
25%     24.000000
50%     36.000000
75%     54.250000
max     84.000000

 ****************************************************************************************************

are there any duplicate values

 0

 ****************************************************************************************************

how is the correlation betwn cols

      Age
Age  1.0

 ****************************************************************************************************

DATA Types

 Member_ID          object
Name               object
Age                 int64
Membership_Type    object
dtype: object

 ****************************************************************************************************

## iii) Transaction Dataset

In [7]:
print("shape of the data ",df.shape,"\n\n","*"*100,"\n")

print(df_t.head(),"\n\n","*"*100,"\n")

print("Information ", df_t.info(),"\n\n","*"*100,"\n")

print("checking missing values ", "\n\n",df_t.isnull().sum(),"\n\n","*"*100,"\n")

print("how does data looks like ","\n\n",df_t.describe(),"\n\n","*"*100,"\n")

print("are there any duplicate values ", "\n\n",df_t.duplicated().sum(),"\n\n","*"*100,"\n")

print("how is the correlation betwn cols ", '\n\n',df_t.corr(numeric_only=True),"\n\n","*"*100,"\n")

print("DATA Types",'\n\n',df_t.dtypes,"\n\n","*"*100,"\n")

shape of the data  (500, 5)

 ****************************************************************************************************

  Book_ID Member_ID Checkout_Date Return_Date
0    B082      M259    2023-01-01         NaN
1    B322      M411    2023-01-01  2023-01-10
2    B388      M025    2023-01-01  2023-01-22
3    B253      M005    2023-01-01         NaN
4    B056      M358    2023-01-01         NaN

 ****************************************************************************************************

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6687 entries, 0 to 6686
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Book_ID        6687 non-null   object
 1   Member_ID      6687 non-null   object
 2   Checkout_Date  6687 non-null   object
 3   Return_Date    5741 non-null   object
dtypes: object(4)
memory usage: 209.1+ KB
Information  None

 ****************************************************************************************************

checking missing values

 Book_ID            0
Member_ID          0
Checkout_Date      0
Return_Date      946
dtype: int64

 ****************************************************************************************************

how does data looks like

        Book_ID Member_ID Checkout_Date Return_Date
count     6687      6687          6687        5741
unique     495       500           676         672
top       B012      M001    2023-05-16  2024-11-06
freq        48        17            19         128

 ****************************************************************************************************

are there any duplicate values

 0

 ****************************************************************************************************

how is the correlation betwn cols

 Empty DataFrame
Columns: []
Index: []

 ****************************************************************************************************

DATA Types

 Book_ID          object
Member_ID        object
Checkout_Date    object
Return_Date      object
dtype: object

 ****************************************************************************************************

## Key analysis

## 1. **Most Popular Books and Authors**

In [ ]:
# 1.  ### 1. **Most Popular Books and Authors** 

# **Analysis Questions to Explore:**
# - Which books have been borrowed the most times?
# - Who are the top 10 most popular authors?
# - Are newer books more popular than older ones?
# - Do certain genres get borrowed more frequently?

In [9]:
print("books datset",df.columns)
print('Memebrs',df_m.columns)
print('tranasaction',df_t.columns)

books datset Index(['Book_ID', 'Title', 'Author', 'Genre', 'Publication_Year'], dtype='object')
Memebrs Index(['Member_ID', 'Name', 'Age', 'Membership_Type'], dtype='object')
tranasaction Index(['Book_ID', 'Member_ID', 'Checkout_Date', 'Return_Date'], dtype='object')

In [10]:
df_t.head(5)

  Book_ID Member_ID Checkout_Date Return_Date
0    B082      M259    2023-01-01         NaN
1    B322      M411    2023-01-01  2023-01-10
2    B388      M025    2023-01-01  2023-01-22
3    B253      M005    2023-01-01         NaN
4    B056      M358    2023-01-01         NaN

In [18]:
book_borrows = df_t.groupby('Book_ID').size().reset_index(name = 'Borrow_Count')

In [19]:
book_borrows

    Book_ID  Borrow_Count
0      B001            21
1      B002            35
2      B003            25
3      B004            24
4      B005            38
..      ...           ...
490    B496             1
491    B497             8
492    B498             3
493    B499             5
494    B500            14

[495 rows x 2 columns]

In [21]:
## merge with book details 

popular_books = book_borrows.merge(df ,on = "Book_ID")

In [22]:
print(popular_books)

    Book_ID  Borrow_Count                     Title              Author  \
0      B001            21        The Quantum Enigma       Alice Johnson
1      B002            35       Shadows of Eternity        Mark Daniels
2      B003            25  Data Structures Unfolded            R. Gupta
3      B004            24     The Lost Civilization          Hannah Lee
4      B005            38         AI and the Future       Carlos Mendez
..      ...           ...                       ...                 ...
490    B496             1         The Fire Handbook       Anna Kowalski
491    B497             8        The Courage Manual          Rachel Kim
492    B498             3        The Light Analysis      Jennifer Lopez
493    B499             5           The Ocean Guide  Isabella Rodriguez
494    B500            14             Advanced Hope            R. Gupta

          Genre  Publication_Year
0       Science              2018
1       Fiction              2015
2     Education              2021
3       History              2012
4    Technology              2020
..          ...               ...
490    Religion              2024
491     Cooking              2018
492      Sports              2020
493  Psychology              2024
494   Education              2023

[495 rows x 6 columns]

In [23]:
# sort descending 

popular_books = popular_books.sort_values(by = "Borrow_Count", ascending=False)

In [24]:
print("Most borrowed books : ")
print(popular_books.head(10))

Most borrowed books :
    Book_ID  Borrow_Count                Title            Author       Genre  \
11     B012            48     The Desert Story      James Miller   Biography
190    B192            45  Beauty: A Biography  Dr. Amara Okafor   Biography
269    B272            41  Desert: A Biography        Rachel Kim   Biography
143    B144            40          Tech Beauty      Kai Nakamura  Technology
433    B439            39    Portrait of Power    Jennifer Lopez   Biography
428    B434            39  Philosophy of Honor    Jennifer Lopez  Philosophy
78     B079            39    The Lost Mountain        Hannah Lee     Fiction
7      B008            39  Gardens of the Mind         Liam Chen  Philosophy
193    B195            39        The War Story    Oliver Fischer   Biography
258    B261            39        Life of Peace  Dr. Amara Okafor   Biography

     Publication_Year
11               2024
190              2019
269              2024
143              2021
433              2021
428              2021
78               2019
7                2016
193              2020
258              2020

### 2. Top 10 Most Popular Authors

In [25]:
# Merge transactions with book info to get Author
author_data = df_t.merge(df[['Book_ID', 'Author']], on='Book_ID')

# Count borrows per author
author_popularity = author_data.groupby('Author').size().reset_index(name='Borrow_Count')

# Sort descending and get top 10
author_popularity = author_popularity.sort_values(by='Borrow_Count', ascending=False)

print("\nTop 10 Most Popular Authors:")
print(author_popularity.head(10))

Top 10 Most Popular Authors:
                Author  Borrow_Count
23        Mark Daniels           300
6     Dr. Amara Okafor           299
12     Fatima Al-Zahra           272
24        Nadia Petrov           261
28          Rachel Kim           250
0         Ahmed Hassan           249
16      Jennifer Lopez           249
30       Sophie Martin           241
13          Hannah Lee           240
14  Isabella Rodriguez           239