In [41]:
import pandas as pd 
data = pd.read_csv("D:/04_HOUSE PRICE PREDICTION/Pune house data.csv")

In [3]:
print(data)

                  area_type   availability       size  society total_sqft  \
0      Super built-up  Area         19-Dec      2 BHK  Coomee        1056
1                Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600
2            Built-up  Area  Ready To Move      3 BHK      NaN       1440
3      Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521
4      Super built-up  Area  Ready To Move      2 BHK      NaN       1200
...                     ...            ...        ...      ...        ...
13315        Built-up  Area  Ready To Move  5 Bedroom  ArsiaEx       3453
13316  Super built-up  Area  Ready To Move      4 BHK      NaN       3600
13317        Built-up  Area  Ready To Move      2 BHK  Mahla T       1141
13318  Super built-up  Area         18-Jun      4 BHK  SollyCl       4689
13319  Super built-up  Area  Ready To Move      1 BHK      NaN        550

       bath  balcony   price         site_location
0       2.0      1.0   39.07           Alandi Road
1       5.0      3.0  120.00       Ambegaon Budruk
2       2.0      3.0   62.00            Anandnagar
3       3.0      1.0   95.00                 Aundh
4       2.0      1.0   51.00            Aundh Road
...     ...      ...     ...                   ...
13315   4.0      0.0  231.00                Pashan
13316   5.0      NaN  400.00             Paud Road
13317   2.0      1.0   60.00              Pirangut
13318   4.0      1.0  488.00          Prabhat Road
13319   1.0      1.0   17.00  Pune Railway Station

[13320 rows x 9 columns]

In [4]:
print(data.head(10))

              area_type   availability       size  society total_sqft  bath  \
0  Super built-up  Area         19-Dec      2 BHK  Coomee        1056   2.0
1            Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600   5.0
2        Built-up  Area  Ready To Move      3 BHK      NaN       1440   2.0
3  Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521   3.0
4  Super built-up  Area  Ready To Move      2 BHK      NaN       1200   2.0
5  Super built-up  Area  Ready To Move      2 BHK  DuenaTa       1170   2.0
6  Super built-up  Area         18-May      4 BHK  Jaades        2732   4.0
7  Super built-up  Area  Ready To Move      4 BHK  Brway G       3300   4.0
8  Super built-up  Area  Ready To Move      3 BHK      NaN       1310   3.0
9            Plot  Area  Ready To Move  6 Bedroom      NaN       1020   6.0

   balcony   price    site_location
0      1.0   39.07      Alandi Road
1      3.0  120.00  Ambegaon Budruk
2      3.0   62.00       Anandnagar
3      1.0   95.00            Aundh
4      1.0   51.00       Aundh Road
5      1.0   38.00     Balaji Nagar
6      NaN  204.00            Baner
7      NaN  600.00       Baner road
8      1.0   63.25  Bhandarkar Road
9      NaN  370.00     Bhavani Peth

In [7]:
data.tail

<bound method NDFrame.tail of                   area_type   availability       size  society total_sqft  \
0      Super built-up  Area         19-Dec      2 BHK  Coomee        1056
1                Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600
2            Built-up  Area  Ready To Move      3 BHK      NaN       1440
3      Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521
4      Super built-up  Area  Ready To Move      2 BHK      NaN       1200
...                     ...            ...        ...      ...        ...
13315        Built-up  Area  Ready To Move  5 Bedroom  ArsiaEx       3453
13316  Super built-up  Area  Ready To Move      4 BHK      NaN       3600
13317        Built-up  Area  Ready To Move      2 BHK  Mahla T       1141
13318  Super built-up  Area         18-Jun      4 BHK  SollyCl       4689
13319  Super built-up  Area  Ready To Move      1 BHK      NaN        550

       bath  balcony   price         site_location
0       2.0      1.0   39.07           Alandi Road
1       5.0      3.0  120.00       Ambegaon Budruk
2       2.0      3.0   62.00            Anandnagar
3       3.0      1.0   95.00                 Aundh
4       2.0      1.0   51.00            Aundh Road
...     ...      ...     ...                   ...
13315   4.0      0.0  231.00                Pashan
13316   5.0      NaN  400.00             Paud Road
13317   2.0      1.0   60.00              Pirangut
13318   4.0      1.0  488.00          Prabhat Road
13319   1.0      1.0   17.00  Pune Railway Station

[13320 rows x 9 columns]>

In [9]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_type      13320 non-null  object
 1   availability   13320 non-null  object
 2   size           13304 non-null  object
 3   society        7818 non-null   object
 4   total_sqft     13320 non-null  object
 5   bath           13247 non-null  float64
 6   balcony        12711 non-null  float64
 7   price          13320 non-null  float64
 8   site_location  13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB
None

In [10]:
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [14]:
data.isnull().sum()

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony           609
price               0
site_location       1
dtype: int64

In [15]:
print(data.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
13315    False
13316    False
13317    False
13318    False
13319    False
Length: 13320, dtype: bool

In [18]:
print(data["society"].duplicated().sum())

10631

In [19]:
print(data["site_location"].duplicated().sum())

13222

In [20]:
print(data["price"].duplicated().sum())

11326

In [21]:
print(data["area_type"].duplicated().sum())

13316

In [24]:
print(data["availability"].duplicated().sum())

13239

In [33]:
print(data.drop_duplicates("availability"))

                  area_type   availability       size  society total_sqft  \
0      Super built-up  Area         19-Dec      2 BHK  Coomee        1056
1                Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600
6      Super built-up  Area         18-May      4 BHK  Jaades        2732
10     Super built-up  Area         18-Feb      3 BHK      NaN       1800
24     Super built-up  Area         18-Nov       1 RK  Bhe 2ko        510
...                     ...            ...        ...      ...        ...
10029  Super built-up  Area         17-Jan      3 BHK  Soitya        2087
10135  Super built-up  Area         16-Nov      2 BHK  Prs 2hi       1171
10550  Super built-up  Area         20-Apr      1 BHK  LendaVi        660
11759            Plot  Area         16-Jan  4 Bedroom  Saacesa       1240
11996        Built-up  Area         14-Jul      3 BHK  Shont F       1410

       bath  balcony   price           site_location
0       2.0      1.0   39.07             Alandi Road
1       5.0      3.0  120.00         Ambegaon Budruk
6       4.0      NaN  204.00                   Baner
10      2.0      2.0   70.00               Bibvewadi
24      1.0      0.0   25.25  Fergusson College Road
...     ...      ...     ...                     ...
10029   4.0      2.0  139.00                 Kondhwa
10135   2.0      2.0   39.00              Manik Bagh
10550   1.0      1.0   35.00              Tilak Road
11759   4.0      0.0  110.00           Kondhwa Khurd
11996   2.0      2.0   43.71                 Wagholi

[81 rows x 9 columns]

In [34]:
print(data["availability"].duplicated().sum())

13239

In [36]:
data

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00,Pashan
13316,Super built-up Area,Ready To Move,4 BHK,NaN,3600,5.0,NaN,400.00,Paud Road
13317,Built-up Area,Ready To Move,2 BHK,Mahla T,1141,2.0,1.0,60.00,Pirangut
13318,Super built-up Area,18-Jun,4 BHK,SollyCl,4689,4.0,1.0,488.00,Prabhat Road
13319,Super built-up Area,Ready To Move,1 BHK,NaN,550,1.0,1.0,17.00,Pune Railway Station

In [38]:
print(data.isnull().sum())

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony           609
price               0
site_location       1
dtype: int64

In [39]:
print(data.dropna())

                  area_type   availability       size  society total_sqft  \
0      Super built-up  Area         19-Dec      2 BHK  Coomee        1056
1                Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600
3      Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521
5      Super built-up  Area  Ready To Move      2 BHK  DuenaTa       1170
11               Plot  Area  Ready To Move  4 Bedroom  Prrry M       2785
...                     ...            ...        ...      ...        ...
13313  Super built-up  Area  Ready To Move      3 BHK  Aklia R       1345
13314  Super built-up  Area  Ready To Move      3 BHK  SoosePr       1715
13315        Built-up  Area  Ready To Move  5 Bedroom  ArsiaEx       3453
13317        Built-up  Area  Ready To Move      2 BHK  Mahla T       1141
13318  Super built-up  Area         18-Jun      4 BHK  SollyCl       4689

       bath  balcony   price    site_location
0       2.0      1.0   39.07      Alandi Road
1       5.0      3.0  120.00  Ambegaon Budruk
3       3.0      1.0   95.00            Aundh
5       2.0      1.0   38.00     Balaji Nagar
11      5.0      3.0  295.00           Bopodi
...     ...      ...     ...              ...
13313   2.0      1.0   57.00        Padmavati
13314   3.0      3.0  112.00  Parvati Darshan
13315   4.0      0.0  231.00           Pashan
13317   2.0      1.0   60.00         Pirangut
13318   4.0      1.0  488.00     Prabhat Road

[7496 rows x 9 columns]

In [43]:
print(data["balcony"].isnull().sum())

609

In [44]:
print(data["balcony"].mean())

1.5843757375501535

In [49]:
import numpy as np
data["balcony"]= data["balcony"].replace(np.nan,1.5843757375501535)
print(data)

                  area_type   availability       size  society total_sqft  \
0      Super built-up  Area         19-Dec      2 BHK  Coomee        1056
1                Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600
2            Built-up  Area  Ready To Move      3 BHK      NaN       1440
3      Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521
4      Super built-up  Area  Ready To Move      2 BHK      NaN       1200
...                     ...            ...        ...      ...        ...
13315        Built-up  Area  Ready To Move  5 Bedroom  ArsiaEx       3453
13316  Super built-up  Area  Ready To Move      4 BHK      NaN       3600
13317        Built-up  Area  Ready To Move      2 BHK  Mahla T       1141
13318  Super built-up  Area         18-Jun      4 BHK  SollyCl       4689
13319  Super built-up  Area  Ready To Move      1 BHK      NaN        550

       bath   balcony   price         site_location
0       2.0  1.000000   39.07           Alandi Road
1       5.0  3.000000  120.00       Ambegaon Budruk
2       2.0  3.000000   62.00            Anandnagar
3       3.0  1.000000   95.00                 Aundh
4       2.0  1.000000   51.00            Aundh Road
...     ...       ...     ...                   ...
13315   4.0  0.000000  231.00                Pashan
13316   5.0  1.584376  400.00             Paud Road
13317   2.0  1.000000   60.00              Pirangut
13318   4.0  1.000000  488.00          Prabhat Road
13319   1.0  1.000000   17.00  Pune Railway Station

[13320 rows x 9 columns]

In [50]:
print(data["balcony"].isnull().sum())

0

In [51]:
print(data["balcony"].mean())

1.5843757375501537

In [1]:
import pandas as pd 
data = pd.read_csv("D:/04_HOUSE PRICE PREDICTION/Pune house data.csv")

In [2]:
data

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00,Pashan
13316,Super built-up Area,Ready To Move,4 BHK,NaN,3600,5.0,NaN,400.00,Paud Road
13317,Built-up Area,Ready To Move,2 BHK,Mahla T,1141,2.0,1.0,60.00,Pirangut
13318,Super built-up Area,18-Jun,4 BHK,SollyCl,4689,4.0,1.0,488.00,Prabhat Road
13319,Super built-up Area,Ready To Move,1 BHK,NaN,550,1.0,1.0,17.00,Pune Railway Station

In [4]:
print(data.isnull().sum())

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony           609
price               0
site_location       1
dtype: int64

In [6]:
print(data.dropna())

                  area_type   availability       size  society total_sqft  \
0      Super built-up  Area         19-Dec      2 BHK  Coomee        1056
1                Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600
3      Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521
5      Super built-up  Area  Ready To Move      2 BHK  DuenaTa       1170
11               Plot  Area  Ready To Move  4 Bedroom  Prrry M       2785
...                     ...            ...        ...      ...        ...
13313  Super built-up  Area  Ready To Move      3 BHK  Aklia R       1345
13314  Super built-up  Area  Ready To Move      3 BHK  SoosePr       1715
13315        Built-up  Area  Ready To Move  5 Bedroom  ArsiaEx       3453
13317        Built-up  Area  Ready To Move      2 BHK  Mahla T       1141
13318  Super built-up  Area         18-Jun      4 BHK  SollyCl       4689

       bath  balcony   price    site_location
0       2.0      1.0   39.07      Alandi Road
1       5.0      3.0  120.00  Ambegaon Budruk
3       3.0      1.0   95.00            Aundh
5       2.0      1.0   38.00     Balaji Nagar
11      5.0      3.0  295.00           Bopodi
...     ...      ...     ...              ...
13313   2.0      1.0   57.00        Padmavati
13314   3.0      3.0  112.00  Parvati Darshan
13315   4.0      0.0  231.00           Pashan
13317   2.0      1.0   60.00         Pirangut
13318   4.0      1.0  488.00     Prabhat Road

[7496 rows x 9 columns]

In [25]:
import pandas as pd 
data = pd.read_csv("D:/04_HOUSE PRICE PREDICTION/Pune house data.csv")

In [8]:
print(data.head())

              area_type   availability       size  society total_sqft  bath  \
0  Super built-up  Area         19-Dec      2 BHK  Coomee        1056   2.0
1            Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600   5.0
2        Built-up  Area  Ready To Move      3 BHK      NaN       1440   2.0
3  Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521   3.0
4  Super built-up  Area  Ready To Move      2 BHK      NaN       1200   2.0

   balcony   price    site_location
0      1.0   39.07      Alandi Road
1      3.0  120.00  Ambegaon Budruk
2      3.0   62.00       Anandnagar
3      1.0   95.00            Aundh
4      1.0   51.00       Aundh Road

In [9]:
print(data.isnull().sum())

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony           609
price               0
site_location       1
dtype: int64

In [12]:
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_type      13320 non-null  object
 1   availability   13320 non-null  object
 2   size           13304 non-null  object
 3   society        7818 non-null   object
 4   total_sqft     13320 non-null  object
 5   bath           13247 non-null  float64
 6   balcony        12711 non-null  float64
 7   price          13320 non-null  float64
 8   site_location  13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [14]:
print(data)

                  area_type   availability       size  society total_sqft  \
0      Super built-up  Area         19-Dec      2 BHK  Coomee        1056
1                Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600
2            Built-up  Area  Ready To Move      3 BHK      NaN       1440
3      Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521
4      Super built-up  Area  Ready To Move      2 BHK      NaN       1200
...                     ...            ...        ...      ...        ...
13315        Built-up  Area  Ready To Move  5 Bedroom  ArsiaEx       3453
13316  Super built-up  Area  Ready To Move      4 BHK      NaN       3600
13317        Built-up  Area  Ready To Move      2 BHK  Mahla T       1141
13318  Super built-up  Area         18-Jun      4 BHK  SollyCl       4689
13319  Super built-up  Area  Ready To Move      1 BHK      NaN        550

       bath  balcony   price         site_location
0       2.0      1.0   39.07           Alandi Road
1       5.0      3.0  120.00       Ambegaon Budruk
2       2.0      3.0   62.00            Anandnagar
3       3.0      1.0   95.00                 Aundh
4       2.0      1.0   51.00            Aundh Road
...     ...      ...     ...                   ...
13315   4.0      0.0  231.00                Pashan
13316   5.0      NaN  400.00             Paud Road
13317   2.0      1.0   60.00              Pirangut
13318   4.0      1.0  488.00          Prabhat Road
13319   1.0      1.0   17.00  Pune Railway Station

[13320 rows x 9 columns]

In [15]:
print(data.isnull().sum())

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony           609
price               0
site_location       1
dtype: int64

In [20]:
print(data["price"].mean())

112.5656265015015

In [26]:
print(data["balcony"].mean())

1.5843757375501535

In [27]:
data["balcony"]=data["balcony"].replace(np.nan,1.5843757375501535)

In [28]:
print(data["balcony"].mean())

1.5843757375501537

In [29]:
print(data.isnull().sum())

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony             0
price               0
site_location       1
dtype: int64

In [33]:
most_frequent= data["society"].mode()[0]
data["society"].fillna(most_frequent, inplace=True)

## the end