# Practice problem

In [9]:
 a= ["Ross","Rachel","Monica","Joe"]
print(a)

['Ross', 'Rachel', 'Monica', 'Joe']

## write aprogram to swap1st and 4Th elemt

In [11]:
a[0],a[3]=a[3],a[0]
print(a)

['Ross', 'Rachel', 'Monica', 'Joe']

## wriete a progarm to add new value in 2nd position

In [7]:
a.insert(1,"buhshan")
print(a)

['Ross', 'buhshan', 'Rachel', 'Monica', 'Joe']

## write a progarm to delete value from 3rd position

In [8]:
print(a.pop(2))
print(a)

Rachel
['Ross', 'buhshan', 'Monica', 'Joe']

# practise problem 2

## mulitply all the memebers in the list

In [14]:
b=[13,7,12,10]
mul =1
for i in (b):
    mul=mul*i
    print(mul)
print("final ans is :",mul)

13
91
1092
10920
final ans is : 10920

In [17]:
b=[13,7,12,10]
b.sort()
print(b)
print("The largest value is :",b[-1])
print("The largest value is :",b[0])

[7, 10, 12, 13]
The largest value is : 13
The largest value is : 7