## write a program for even / odd number

In [18]:
num=int(input("enter a number"));
if num %2 ==0:
    print("even");
else:
    print("odd")

enter a number 23

odd

## Write a program to input two numbers. If the first number is greater than the second number, print "The first number is greater." Otherwise, print "The second number is greater or equal."

In [27]:
 n1=int(input('enter a number'))
n2=int(input('enter a 2nd number'))
if n1 >=n2:
    print('n1 is greater')
else:
    print('n2 is graeter')

enter a number 122
enter a 2nd number 23

n1 is greater

Write a Python function that takes an integer as input and:

Prints "Divisible by 5" if the number is divisible by 5.
Prints "Not Divisible by 5" otherwise.

In [30]:
num=int(input('enter a number'))
if num %5==0:
        print("ok");
else:
    print("not ok")

enter a number 23

not ok

# Write a program to input three integers and check if:
Write a program to input three integers and check if:

All three numbers are positive.
If yes, print "All numbers are positive."
Otherwise, print "Not all numbers are positive."

In [35]:
n1=int(input('enter anumber '))
n2=int(input('enter anumber '))
n3=int(input('enter anumber '))
if (n1>0 and n2>0 and n3 >0):
    print('all three no is +ve ')
else:
    print("number are not positive")

enter anumber  23
enter anumber  -4
enter anumber  42

number are not positive

## Write a program to input a number and check:

If the number is greater than 100, print "High."
If the number is between 50 and 100 (inclusive), print "Medium."
Otherwise, print "Low."

In [41]:
num=int(input("enter a number"))
if num >100:
    print("high")
elif (50 < num<100):
    print("medium");
else:
    print("no is low")

enter a number 12

no is low

## Write a Python program to input a year and check if it's a leap year. Use the following conditions:

A year is a leap year if it's divisible by
4 but not divisible by 100 unless it is also divisible by 400.
Print "Leap Year" or "Not a Leap Year" accordingly.

In [47]:
year=int(input("enter a year"))
if (year%4==0 and year%100!=0):
    print('year is leap year')
else :
    print("year is not leap year")

enter a year 2000

year is not leap year

Write a program that takes a person's age as input and categorizes them into:

"Child" if age is less than 13.
"Teenager" if age is between 13 and 19.
"Adult" if age is between 20 and 59.
"Senior" if age is 60 or above.

In [51]:
age=int(input("enter a age"))
if age <13:
    print('child');
elif ( 13<age<19):
    print('teenager')
elif (20<age<59):
    print('adult');
else:
    print("senior")

enter a age 1

child

## Write a program that accepts three integers representing the sides of a triangle and determines its type:

If all three sides are equal, print "Equilateral Triangle."
If two sides are equal, print "Isosceles Triangle."
If no sides are equal, print "Scalene Triangle."

In [54]:
s1=int(input('enter a side 1 '))
s2=int(input('enter a side 2'))
s3=int(input('enter a side 3'))
if s1==s2 and s2==s3 and s3==s1:
    print("t is equi");
elif (s1==s2 or s2==s3 or s3==s1):
    print("isos");
elif (s1!=s2 and s2!=s3 and s3!=s1):
    print("scalene");
else:
    print("bullshit")

enter a side 1  11
enter a side 2 23
enter a side 3 45

scalene

<!-- ##Write a program that accepts the name of a month (e.g., "January", "February") and prints:

"28 or 29 days" if the month is "February."
"30 days" if the month is "April", "June", "September", or "November."
"31 days" for all other months. -->

In [ ]:
# Question 5: Days in a Month
# Write a program that accepts the name of a month (e.g., "January", "February") and prints:

# "28 or 29 days" if the month is "February."
# "30 days" if the month is "April", "June", "September", or "November."
# "31 days" for all other months.

In [59]:
month=str(input('enter a month'))
if month in ("apr","june ","sept","nov"):
    print("30 days ");
elif month in ("feb"):
    print("29 days");
else:
    print("31 days")

enter a month jan

31 days

In [60]:
## nested if statement

Question 1: Student Scholarship Eligibility
Write a program to determine if a student is eligible for a scholarship. The criteria are:

The student must score above 85 marks.
If marks are above 90, the student gets a "Full Scholarship."
If marks are between 85 and 90 (inclusive), check if the student has a good attendance record (above 75%):
If yes, they get a "Partial Scholarship."
Otherwise, they get "No Scholarship."

In [69]:
n=7;
for i in range (1,11):
    if(i%2==0):
        print(i,"even");
    elif(i%2!=0):
        print(n,"odd")

7 odd
2 even
7 odd
4 even
7 odd
6 even
7 odd
8 even
7 odd
10 even

Write a Python program that calculates the sum of all numbers from 1 to 100 using a while loop

In [79]:
num=10;
addf=1;
i=1;
while(i<num):
    addf+=i;
    i+=1;
print(addf)

46

Write a Python program that counts how many times the number 7 appears in a list of numbers using a for loop.

In [ ]:
count=0;
num=int(input("enter a number"))
for i in range(num):
    value=int(input(i+1))
    if value==7:
        count+=1;
print(count)

Write a program that takes an integer N as input and prints numbers from 1 to N.`

In [20]:
N=int(input("enter a value"))
for i in range(N):
    i+=1;
    print(i)

enter a value 10

1
2
3
4
5
6
7
8
9
10

Write a program that calculates the sum of the first N natural numbers using a loop.`

In [32]:

N=int(input("enter a number"))
value=0;
for i in range(1,N+1):
    value+=i;
print(value)

enter a number 5

15

Write a program that takes a number as input and prints its multiplication table up to 10.

In [39]:
tab=int(input("enter a table"))
for i in range(1,11):
    print(tab,"X", i ,"=",tab*i)

enter a table 6

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

Write a program to print all even numbers between 1 and N.

In [52]:
num=int(input("enter a number"))
for i in range(1,num):
    if i%2==0:
        print(i)

enter a number 10

2
4
6
8

Write a program that prints numbers from N down to 1 in reverse order.

In [54]:
n=10;
for i in range(n,0,-1):
    print(--i);

10
9
8
7
6
5
4
3
2
1